/* Basics */

body {
    background-color: #2e2e2e;
    color: #ddd;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.7;
    overflow-y: auto;
    max-width: 55rem;
    margin: 0 auto;
}

img {
    max-width: 100%
}

a {
    color: #52C0FF;
}

a:hover {
    text-decoration: none;
}

/* Typo */

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Mako", Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

/*
 * Default template styling
 *  - header
 *  - nav
 *  - main
 *  - #content (legacy)
 *  - footer
 */

/* Header */

header {
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo {
    max-width: 20rem;
}

/* Nav */

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #FFF;
    padding: .4rem .8rem;
    text-decoration: none;
    border-bottom: 2px solid #2e2e2e;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #52C0FF;
}

/* Main */

main {
    margin: 2rem 0;
}

main > * + * {
    margin-top: 1.5rem;
}

main ul, main ol {
    margin-left: 2rem;
}

main li {
    margin-bottom: 1em;
}

/*
 * #content used to be the old content wrapper.
 * It's still here for legacy purposes but the new content is wrapped
 * in <main>, so all appropriate styling is found on that element above this comment
 */

#content {
    max-width: 874px;
    padding-left: 1em;
    padding-right: 1em;
}

#content p {
    padding-right: 2em;
}
#content li {
    margin-bottom: 1em;
    padding-right: 2em;
}

/* Footer */

footer {
    border-top: 2px solid #242424;
    color: #ccc;
    font-size: .9rem;
    text-align: center;
    padding: 2em;
}
